<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Folder</title>
</head>
<body>
    <form action="/create/website" method="post" enctype="multipart/form-data">
        <input type="file" id="folder" name="folder" accept=".zip">
        <button type="submit">Upload</button>
    </form>
</body>
</html>
